<main>
  <div>
    <app-input label="Grupo de Evento"
               name="group"
               [(ngModel)]="group"></app-input>

    <pre>{{group | json}}</pre>
  </div>

  <div>
    <app-select-lite name="selectLite"
                     [(ngModel)]="selectLite"></app-select-lite>

    <pre>{{selectLite | json}}</pre>
  </div>

  <div>
    <app-select-user name="user"
                     [(ngModel)]="user"></app-select-user>

    <pre>{{user | json}}</pre>
  </div>

  <div>
    <app-select-multiple name="groups"
                         [(ngModel)]="groups"></app-select-multiple>

    <pre>{{groups | json}}</pre>
  </div>

</main>
