app-input,
app-select-lite,
app-select-user,
app-select-multiple {
  color: #1E2959;
  //display: inline-block;

  div,
  label,
  input {
    color: inherit;
  }
}

app-input {
  div {
    position: relative;
  }

  label {
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    transform: translateY(-6px);
    bottom: 0;
    width: 100%;
    transition: 0.2s;
    pointer-events: none;
    left: 24px;

    //display: flex;
    //align-items: center;
    //padding-top: 3px;
  }

  input {
    border: 1px solid #E5E7F1;
    box-sizing: border-box;
    border-radius: 40px;
    padding: 17px 24px;
    width: 100%;
    overflow: hidden;

    &:focus,
    &.has-value {
      padding-top: 26px;
      padding-bottom: 8px;

      & + label {
        top: 0;
        margin-top: 10px;
        font-size: 10px;
        line-height: 16px;
        left: 24px;
        padding: 0;
        display: block;
        transform: translateY(0)
      }
    }
  }
}

app-select-user {
  .space .ng-select-container {
    padding-left: 48px !important;
  }

  .ng-option:not(.ng-option--custom) {
    padding-left: 46px !important;
  }

  .space .ng-input {
    padding-left: 48px;
  }

  img {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
  }

  .ng-option {
    position: relative;

    img {
      top: 50%;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
    }

    span {
      position: inherit;
      top: 2px;
    }
  }
}

app-select-multiple {
  .ng-input {
    padding: 0 !important;
  }

  .ng-value-icon {
    display: none;
  }

  .ng-value-container .ng-value:not(:nth-last-of-type(2)):after {
    content: ', ';
    margin-right: 5px;
  }
}
